<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <mat-tab-group mat-align-tabs="center">
                    <!--TAB DATOS GENERALES-->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">receipt_long</i>
                            <h6> Datos generales</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                        <mat-accordion>
                            <!--DATOS DE CABECERA-->
                            <mat-expansion-panel expanded
                                                 (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="text-primary">Configuracion Inicial</b>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <!--Content-->
                                <!--TIENE RFI ?-->
                                <div class="row">
                                    <div class="col">
                                        <b>Tiene RFI? </b>
                                        <mat-slide-toggle color="primary" disabled [(ngModel)]="tieneRFI"></mat-slide-toggle>

                                    </div>

                                    <div class="col">
                                        <b>Participantes notificados? </b>
                                        <mat-slide-toggle disabled [(ngModel)]="participantesNotificados"></mat-slide-toggle>
                                    </div>

                                    <div class="col">
                                        <b>Tiene visita técnica? </b>
                                        <mat-slide-toggle disabled [(ngModel)]="tieneVisitaTecnica"></mat-slide-toggle>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col">
                                        <b>Analista Responsable:</b> Obed Blas
                                    </div>

                                    <div class="col">
                                        <b>Fecha de inicio de licitacion:</b> 20-05-2020
                                    </div>

                                    <div class="col">
                                        <b>Monto referencial:</b> 100000000000
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <!--------------------->
                        </mat-accordion>

                       <!--POSTORES-->
                        <mat-accordion>
                            <!--DATOS DE CABECERA-->
                            <mat-expansion-panel expanded
                                                 (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="text-primary">Participantes</b>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <!--Content-->
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource">

                                        <ng-container matColumnDef="isSelected">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox>
                                            </td>
                                        </ng-container>


                                        <ng-container matColumnDef="razonSocial">
                                            <th mat-header-cell *matHeaderCellDef> Razon Social</th>
                                            <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ruc">
                                            <th mat-header-cell *matHeaderCellDef> Numero de RUC</th>
                                            <td mat-cell *matCellDef="let element"> {{element.numeroRuc}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="contacto">
                                            <th mat-header-cell *matHeaderCellDef> Contacto</th>
                                            <td mat-cell *matCellDef="let element"> {{element.contacto}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="correo">
                                            <th mat-header-cell *matHeaderCellDef> Correo</th>
                                            <td mat-cell *matCellDef="let element"> {{element.mails}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>


                            </mat-expansion-panel>
                            <!--------------------->
                        </mat-accordion>

                    </mat-tab>
                    <!--TAB RFI-->
                    <mat-tab label="RFI">
                        <ng-template mat-tab-label>
                            <i class="material-icons">playlist_add_check</i>
                            <h6> RFI</h6>
                        </ng-template>
                        <!--CONTENIDO-->
                        <!--ACOORDION CABECERA-->
                        <mat-accordion>
                            <!--DATOS DE CABECERA-->
                            <mat-expansion-panel expanded
                                                 (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>

                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--FORMULARIO CABECERA-->
                                <form>
                                    <div class="row text-center">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <b class="text-dark">Pregunta</b>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <b class="text-dark">Respuesta</b>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <b class="text-dark">Documento de Sustento</b>
                                        </div>

                                    </div>
                                    <br>
                                    <br>

                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 1</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <input type="file" value="Subir documento">
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 2</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <input type="file" value="Subir documento">
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 3</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <input type="file" value="Subir documento">
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 4</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <input type="file" value="Subir documento">
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 5</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <input type="file" value="Subir documento">
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <label class="text-dark">Pregunta numero 6</label>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Respuesta"
                                                       type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <button ></button>
                                        </div>

                                    </div>

                                </form>

                            </mat-expansion-panel>
                            <!--------------------->
                        </mat-accordion>
                        <!---------------------->

                    </mat-tab>
                    <!--TAB RFP-->
                    <mat-tab label="RFP">
                        <ng-template mat-tab-label>
                            <i class="material-icons">how_to_vote</i>
                            <h6> RFP</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                    </mat-tab>
                    <!--TAB MENSAJERIA-->
                    <mat-tab label="MENSAJERIA">
                        <ng-template mat-tab-label>
                            <i class="material-icons">message</i>
                            <h6> MENSAJERIA</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
