<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <mat-tab-group mat-align-tabs="center">
                    <!--TAB DATOS GENERALES-->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">receipt_long</i>
                            <h6> Datos generales</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">Used Space</p>
                                <h3 class="card-title">49/50
                                    <small>GB</small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">warning</i>
                                    <a href="javascript:void(0)">Get More Space...</a>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                    <!--TAB RFI-->
                    <mat-tab label="RFI">
                        <ng-template mat-tab-label>
                            <i class="material-icons">playlist_add_check</i>
                            <h6> RFI</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                        <div class="form-group">
                            <label> GOGGOE </label>
                        </div>

                    </mat-tab>
                    <!--TAB RFP-->
                    <mat-tab label="RFP">
                        <ng-template mat-tab-label>
                            <i class="material-icons">how_to_vote</i>
                            <h6> RFP</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                    </mat-tab>
                    <!--TAB MENSAJERIA-->
                    <mat-tab label="MENSAJERIA">
                        <ng-template mat-tab-label>
                            <i class="material-icons">message</i>
                            <h6> MENSAJERIA</h6>
                        </ng-template>
                        <!--CONTENIDO-->

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
